{% extends 'pages/front/base.html.twig' %}

{% block title %}Dashboard !{% endblock %}

{% block stylesheets %}
    <!--DateTime Picker-->
    <link rel="stylesheet" type="text/css" href="{{asset('assets/plugins/datetimepicker/jquery.datetimepicker.css')}}"/>

    <link href="{{asset('assets/front/pages/user/parametres/style.css')}}" rel="stylesheet" type="text/css">

    {{ parent() }}
{% endblock %}

{% block main %}
    <main id="col-main">

        <div class="dashboard-container">

            <ul class="dashboard-sub-menu">
                <li class="current"><a href="{{path('user_parametres')}}">Account Settings</a></li>
                <li><a href="{{path('info_paiement')}}">Payment Info</a></li>
            </ul><!-- close .dashboard-sub-menu -->

            <div class="container-fluid">
                <div class="row">
                    {% set fullName = app.user.prenom ~ " " ~ app.user.nom %}
                    {% set imagePorfil = app.user.image ? app.user.image : 'default.png' %}
                    <div class="col-12  col-lg-3">
                        <div id="account-edit-photo">
                            <div><img src="{{asset('assets/front/images/users/' ~ imagePorfil)}}" alt="{{ fullName |capitalize }}"></div>
                            <p><a href="{{path('user_parametres')}}" class="btn btn-green-pro">Changer Photo de Profil</a></p>
                            <p><a href="{{path('user_parametres')}}" class="btn btn-default">Supprimer Photo</a></p>
                        </div>
                    </div><!-- close .col -->
                    <div class="col">

                        {{ form_start(formgeneralUserInfo, {'attr': {'class': 'account-settings-form'}}) }}
                            <h5>Information General</h5>
                            <p class="small-paragraph-spacing">By letting us know your name, we can make our support
                                experience much more personal.</p>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="prenom" class="col-form-label required">Prenom:</label>
                                        {{ form_widget(formgeneralUserInfo.prenom, {'attr': {'class': 'form-control required'}}) }}
                                        <div class="form-field-errors">
                                            {{ form_errors(formgeneralUserInfo.prenom) }}
                                        </div>
                                    </div>
                                </div><!-- close .col -->
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="nom" class="col-form-label required">Nom:</label>
                                        {{ form_widget(formgeneralUserInfo.nom, {'attr': {'class': 'form-control required'}}) }}
                                        <div class="form-field-errors">
                                            {{ form_errors(formgeneralUserInfo.nom) }}
                                        </div>
                                    </div>
                                </div><!-- close .col -->
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="birthday" class="col-form-label">Date de naissance:</label>
                                        {{ form_widget(formgeneralUserInfo.birthday, {'attr': {'class': 'form-control', 'placeholder': 'Ex: 25/06/1996'}}) }}
                                        <div class="form-field-errors">
                                            {{ form_errors(formgeneralUserInfo.birthday) }}
                                        </div>
                                    </div>
                                </div><!-- close .col -->
                            </div>

                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="sexe" class="col-form-label">Genre:</label>
                                        {{ form_widget(formgeneralUserInfo.sexe, {'attr': {'class': 'form-control'}}) }}
                                        <div class="form-field-errors">
                                            {{ form_errors(formgeneralUserInfo.sexe) }}
                                        </div>
                                    </div>
                                </div><!-- close .col -->
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="adresse" class="col-form-label">Adresse:</label>
                                        {{ form_widget(formgeneralUserInfo.adresse, {'attr': {'class': 'form-control', 'placeholder': 'Ex: Colobane, Park Amazout'}}) }}
                                        <div class="form-field-errors">
                                            {{ form_errors(formgeneralUserInfo.adresse) }}
                                        </div>
                                    </div>
                                </div><!-- close .col -->
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="tel" class="col-form-label">Téléphone:</label>
                                        {{ form_widget(formgeneralUserInfo.tel, {'attr': {'class': 'form-control', 'placeholder': 'Ex: 77 800 00 00'}}) }}
                                        <div class="form-field-errors">
                                            {{ form_errors(formgeneralUserInfo.tel) }}
                                        </div>
                                    </div>
                                </div><!-- close .col -->
                            </div><!-- close .row -->

                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="ville" class="col-form-label">Ville:</label>
                                        {{ form_widget(formgeneralUserInfo.ville, {'attr': {'class': 'form-control', 'placeholder': 'Ex: Dakar'}}) }}
                                        <div class="form-field-errors">
                                            {{ form_errors(formgeneralUserInfo.ville) }}
                                        </div>
                                    </div>
                                </div><!-- close .col -->
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="codePostal" class="col-form-label">Code postal:</label>
                                        {{ form_widget(formgeneralUserInfo.codePostal, {'attr': {'class': 'form-control', 'placeholder': 'Ex: 00000'}}) }}
                                        <div class="form-field-errors">
                                            {{ form_errors(formgeneralUserInfo.codePostal) }}
                                        </div>
                                    </div>
                                </div><!-- close .col -->
                            </div><!-- close .row -->
                            <hr>

                            <h5>Information du compte</h5>
                            <p class="small-paragraph-spacing">You can change the email address you use here.</p>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email" class="col-form-label required">E-mail:</label>
                                        {{ form_widget(formgeneralUserInfo.email, {'attr': {'class': 'form-control required'}}) }}
                                        <div class="form-field-errors">
                                            {{ form_errors(formgeneralUserInfo.email) }}
                                        </div>
                                    </div>
                                </div><!-- close .col -->

                            </div><!-- close .row -->

                            <hr>
                            <h5>Changer Mot de Passe</h5>
                            <p class="small-paragraph-spacing">You can change the password you use for your account
                                here.</p>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="password" class="col-form-label">Current Password:</label>
                                        <input type="text" class="form-control" id="password"
                                            value="&middot;&middot;&middot;&middot;&middot;&middot;&middot;&middot;&middot;&middot;&middot;&middot;">
                                    </div>
                                </div><!-- close .col -->
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="new-password" class="col-form-label">New Password:</label>
                                        <input type="text" class="form-control" id="new-password"
                                            placeholder="Minimum of 6 characters">
                                    </div>
                                </div><!-- close .col -->
                                <div class="col-sm">
                                    <div class="form-group">
                                        <div><label for="confirm-password" class="col-form-label">&nbsp;
                                                &nbsp;</label></div>
                                        <input type="text" class="form-control" id="confirm-password"
                                            placeholder="Confirm New Password">
                                    </div>
                                </div><!-- close .col -->
                            </div><!-- close .row -->

                            <hr>
                            <h5>Secteur</h5>
                            <p class="small-paragraph-spacing">Pick your favorite genres for content.</p>

                            <div class="registration-genres-step">
                                <div id="liste-secteurs" class="row user-secteur-choice">
                                    {% for secteur in formgeneralUserInfo.userSecteurs.children.secteur.children %}
                                        <div class="col-md-2 secteur text-center {{ secteur.vars.value |in_secteur(app.user.id) == 1 ? 'active' : '' }}">
                                            {% set params = secteur.vars.label |split("___") %}
                                            {{ form_widget(secteur, {'attr': {'class': 'form-secteur hidden'}}) }}
                                            <i class="fas fa-check-circle"></i>
                                            <img src="{{asset('assets/secteurs/' ~ params[1])}}" alt="{{ params[0] |raw |e }}">
                                            <h6>{{ params[0] |raw |e }}</h6>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="clearfix"></div>
                            </div><!-- close .registration-genres-step -->
                            <div class="clearfix"></div>
                            <hr>
                            <p><button type="submit" class="btn btn-green-pro">Enregistrer les changements</button></p>
                            <br>
                        {{ form_end(formgeneralUserInfo) }}

                    </div><!-- close .col -->

                </div><!-- close .row -->
            </div><!-- close .container-fluid -->

        </div><!-- close .dashboard-container -->
    </main>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{asset('assets/front/js/jquery-asRange.min.js')}}" defer></script><!-- Range Slider JS Plugin -->
    <script src="{{asset('assets/front/js/circle-progress.min.js')}}" defer></script><!-- Circle Progress JS Plugin -->
    <script src="{{asset('assets/front/js/script-dashboard.js')}}" defer></script><!-- Custom Document Ready for Dashboard Only JS -->

    <!--DateTime Picker-->
    <script src="{{asset('assets/plugins/datetimepicker/php-date-formatter/js/php-date-formatter.min.js')}}" defer></script>
    <script src="{{asset('assets/plugins/datetimepicker/jquery-mousewheel/jquery.mousewheel.js')}}" defer></script>
    <script src="{{asset('assets/plugins/datetimepicker/jquery.datetimepicker.js')}}" defer></script>

    <script src="{{asset('assets/plugins/jquery-mask/jquery.mask.min.js')}}" defer></script>

    <script src="{{asset('assets/front/pages/user/parametres/script.js')}}" defer></script>


{% endblock %}
