{% extends 'pages/front/base.html.twig' %}
{% set fullName = app.user.prenom ~ " " ~ app.user.nom %}
{% set imagePorfil = app.user.image ? app.user.image : 'default.png' %}
{% block title %}Dashboard !{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link href="{{asset('assets/plugins/Tags-Input/dist/jquery.tagsinput-revisited.min.css')}}" rel="stylesheet" type="text/css">

    <!--DateTime Picker-->
    <link href="{{asset('assets/plugins/datetimepicker/jquery.datetimepicker.css')}}"  rel="stylesheet" type="text/css"/>
    <link href="{{asset('assets/front/pages/profil/style.css')}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
	<div id="content-sidebar-pro">
        
        <div id="content-sidebar-image">
            <img src="{{asset('assets/front/images/demo/movie-detail-poster.jpg')}}" alt="Movie Poster">
        </div>
        
        <div class="content-sidebar-section">
            <h2 class="content-sidebar-sub-header">{{fullName |capitalize }} <a href="{{path('user_parametres')}}" class="link-edit float-right" title="Modifier votre profil"><em class="fas fa-pencil-alt"></em></a></h2>
            <ul class="progression-studios-slider-rating">
                <li>PG-13</li><li>HD</li>
            </ul>
        </div><!-- close .content-sidebar-section -->

		<div class="content-sidebar-section">
            <h4 class="content-sidebar-sub-header">Note</h4>
            <div class="content-sidebar-short-description">
				<em class="fas fa-star golden-star" aria-hidden="true"></em>
				<em class="fas fa-star golden-star" aria-hidden="true"></em>
				<em class="fas fa-star golden-star" aria-hidden="true"></em>
				<em class="fas fa-star gray-star" aria-hidden="true"></em>
				<em class="fas fa-star gray-star" aria-hidden="true"></em>
			</div>
        </div><!-- close .content-sidebar-section -->
        
        <div class="content-sidebar-section">
            <h4 class="content-sidebar-sub-header">E-mail</h4>
            <div class="content-sidebar-short-description">{{app.user.email ? app.user.email : '? ? ?'}}</div>
        </div><!-- close .content-sidebar-section -->
        
        <div class="content-sidebar-section">
            <h4 class="content-sidebar-sub-header">Téléphone</h4>
            <div class="content-sidebar-short-description">{{app.user.tel ? app.user.tel : '? ? ?'}}</div>
        </div><!-- close .content-sidebar-section -->

        <div class="content-sidebar-section">
            <h4 class="content-sidebar-sub-header">Date de naissance</h4>
            <div class="content-sidebar-short-description">{{ app.user.birthday ? app.user.birthday |date('d') ~ app.user.birthday |date('m') |string_month ~ app.user.birthday |date('Y') : '? ? ?' }}</div>
        </div><!-- close .content-sidebar-section -->

        <div class="content-sidebar-section">
            <h4 class="content-sidebar-sub-header">Adresse</h4>
            <div class="content-sidebar-short-description">{{ app.user.adresse ? app.user.adresse : '? ? ?' }}</div>
        </div><!-- close .content-sidebar-section -->

    </div><!-- close #content-sidebar-pro -->
	
	<main id="col-main-with-sidebar">

        <div id="movie-detail-header-pro" style="background-image:url({{asset('assets/front/images/demo/dashboard-movie-poster.jpg')}});">
            
            <div class="progression-studios-slider-more-options">
                <i class="fas fa-ellipsis-h"></i>
                <ul>
                    <li><a href="javascript:void(0);">Add to Favorites</a></li>
                    <li><a href="javascript:void(0);">Add to Watchlist</a></li>
                    <li><a href="javascript:void(0);">Add to Playlist</a></li>
                    <li><a href="javascript:void(0);">Share...</a></li>
                    <li><a href="javascript:void(0);">Write A Review</a></li>
                </ul>
            </div>
            
            <a class="movie-detail-header-play-btn afterglow" href="javascript:void(0);"><i class="fas fa-play"></i></a>

            <div id="movie-detail-gradient-pro"></div>
        </div><!-- close #movie-detail-header-pro -->
        
        <div class="dashboard-container mt-5">
            <div class="movie-details-section">
				<div class="row">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
						<div class="card bg-bordered">
							<div class="card-body">
								<h2 class="titre-rubrique">Information professionnelles</h2>
								{% include "pages/front/professionnel/forms/_informationProfilType.html.twig" %}
							</div>
						</div>
                    </div><!-- close .col -->
                </div><!-- close .row -->
            </div><!-- close .movie-details-section -->

            <div class="movie-details-section">
				<div class="row">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
						<div class="card bg-bordered">
							<div class="card-body">
								<div class="row">
                                    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
										<h2 class="titre-rubrique">Expérience</h2>
                                    </div>
									<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-2">
										<button type="button" class="link-edit btn btn-modal-popover float-sm-left float-md-right" data-target="#modalAjoutExperience" data-content="<em class='fas fa-info-circle'></em> Cliquez ici pour ajouter une experience.">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                    </div>
								</div>
								<div class="row">
                                    <div class="col-md-12 pr-5">
                                        <ul class="timeline">
                                            <li>
                                                <span class="float-right"><i class="fas fa-pencil-alt"></i></span>
                                                <h4 class="intitule-exp">Web Design, <span class="entreprise-exp">Sonatel</span></h4>
                                                <h4 class="date-exp">Janvier 2014 - Mars 2019</h4>
                                                <h4 class="lieu-exp">Dakar, Sénégal</h4>
                                                <p class="description-exp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>
                                            </li>
                                            <li>
                                                <h4 class="intitule-exp">Technical Consulting, <span class="entreprise-exp">KOCC DIGITAL</span></h4>
                                                <h4 class="date-exp">Janvier 2014 - Mars 2019</h4>
                                                <h4 class="lieu-exp">Dakar, Sénégal</h4>
                                                <p class="description-exp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>
                                            </li>
                                            <li>
                                                <h4 class="intitule-exp">Web Design à la <span class="entreprise-exp">Sonatel</span></h4>
                                                <h4 class="date-exp">Janvier 2014 - Mars 2019</h4>
                                                <h4 class="lieu-exp">Dakar, Sénégal</h4>
                                                <p class="description-exp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
							</div>
						</div>
                    </div><!-- close .col -->
                </div><!-- close .row -->
            </div><!-- close .movie-details-section -->

			<div class="movie-details-section">
                <h2 class="titre-rubrique">Formations et certifications</h2>
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                        
                    </div><!-- close .col -->
                </div><!-- close .row -->
            </div><!-- close .movie-details-section -->

			<div class="movie-details-section">
                <h2 class="titre-rubrique">Langues</h2>
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                        
                    </div><!-- close .col -->
                </div><!-- close .row -->
            </div><!-- close .movie-details-section -->

        </div><!-- close .dashboard-container -->
    </main>

    <!-- Modal -->
    <div class="modal fade" id="modalAjoutExperience" tabindex="-1" role="dialog" aria-labelledby="modalAjoutExperienceTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                {% include "pages/front/professionnel/forms/_experienceType.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{asset('assets/plugins/Tags-Input/dist/jquery.tagsinput-revisited.min.js')}}"></script>
    <script src="{{asset('assets/front/js/jquery-asRange.min.js')}}" defer></script><!-- Range Slider JS Plugin -->
    <script src="{{asset('assets/front/js/circle-progress.min.js')}}" defer></script><!-- Circle Progress JS Plugin -->
    <script src="{{asset('assets/front/js/script-dashboard.js')}}" defer></script><!-- Custom Document Ready for Dashboard Only JS -->

    <!--DateTime Picker-->
    <script src="{{asset('assets/plugins/datetimepicker/php-date-formatter/js/php-date-formatter.min.js')}}"></script>
    <script src="{{asset('assets/plugins/datetimepicker/jquery-mousewheel/jquery.mousewheel.js')}}"></script>
    <script src="{{asset('assets/plugins/datetimepicker/jquery.datetimepicker.js')}}"></script>

    <script src="{{asset('assets/front/pages/profil/script.js')}}" defer></script>
{% endblock %}
