{% extends 'pages/front/base.html.twig' %}
{% set fullName = app.user.prenom ~ " " ~ app.user.nom %}
{% set imagePorfil = app.user.image ? app.user.image : 'default.png' %}
{% block title %}Dashboard !{% endblock %}

{% block main %}
	<div id="content-sidebar-pro">
        
        <div id="content-sidebar-image">
            <img src="{{asset('assets/front/images/demo/movie-detail-poster.jpg')}}" alt="Movie Poster">
        </div>
        
        <div class="content-sidebar-section">
            <h2 class="content-sidebar-sub-header">{{fullName |capitalize }} <a href="{{path('user_parametres')}}" class="link-edit" title="Modifier votre profil"><i class="fas fa-pencil-alt"></i></a></h2>
            <ul class="progression-studios-slider-rating">
                <li>PG-13</li><li>HD</li>
            </ul>
        </div><!-- close .content-sidebar-section -->

		<div class="content-sidebar-section">
            <h4 class="content-sidebar-sub-header">Note</h4>
            <div class="content-sidebar-short-description">
				<em class="fas fa-star golden-star" aria-hidden="true"></em>
				<em class="fas fa-star golden-star" aria-hidden="true"></em>
				<em class="fas fa-star golden-star" aria-hidden="true"></em>
				<em class="fas fa-star gray-star" aria-hidden="true"></em>
				<em class="fas fa-star gray-star" aria-hidden="true"></em>
			</div>
        </div><!-- close .content-sidebar-section -->
        
        <div class="content-sidebar-section">
            <h4 class="content-sidebar-sub-header">Date de naissance</h4>
            <div class="content-sidebar-short-description">{{ app.user.birthday ? app.user.birthday |date('d') ~ app.user.birthday |date('m') |string_month ~ app.user.birthday |date('Y') : '? ? ?' }}</div>
        </div><!-- close .content-sidebar-section -->
        
        <div class="content-sidebar-section">
            <h4 class="content-sidebar-sub-header">Length</h4>
            <div class="content-sidebar-short-description">2 hr 43 min</div>
        </div><!-- close .content-sidebar-section -->
        
        <div class="content-sidebar-section">
            <h4 class="content-sidebar-sub-header">Director</h4>
            <div class="content-sidebar-short-description">James Wan</div>
        </div><!-- close .content-sidebar-section -->
        
        <div class="content-sidebar-section">
            <h2 class="content-sidebar-sub-header adjusted-recent-reviews">Recent Reviews</h2>
            <ul id="sidebar-reviews-pro">
                <li>
                    <div class="circle-rating-pro" data-value="0.86" data-animation-start-value="0.86" data-size="32" data-thickness="3" data-fill="{&quot;color&quot;: &quot;#42b740&quot;}" data-empty-fill="#def6de" data-reverse="true"><span style="color:#42b740;">8.6</span></div>
                    <h6>Dan Cederholm</h6>
                    <div class="sidebar-review-time">October 22, 2017</div>
                    <div class="spoiler-review">Contains Spoiler</div>
                    <p>They don't make many Sci-Fi films these days. This was a pleasant surprise all throughout the film. I really like this film.</p>
                </li>
                <li>
                    <div class="circle-rating-pro" data-value="0.53" data-animation-start-value="0.53" data-size="32" data-thickness="3" data-fill="{&quot;color&quot;: &quot;#ff4141&quot;}" data-empty-fill="#ffe1e1" data-reverse="true"
                    ><span style="color:#ff4141;">5.3</span></div>
                    <h6>Jeff Seid</h6>
                    <div class="sidebar-review-time">October 18, 2017</div>
                    <p>Coming out of the theatres following my viewing of this film, I was confused. I couldn't decide whether I liked it or not.</p>
                </li>
                <li>
                    <div class="circle-rating-pro" data-value="0.72" data-animation-start-value="0.72" data-size="32" data-thickness="3" data-fill="{&quot;color&quot;: &quot;#42b740&quot;}" data-empty-fill="#def6de"  data-reverse="true"><span style="color:#42b740;">7.2</span></div>
                    <h6>Christian De Guzman</h6>
                    <div class="sidebar-review-time">August 26, 2017</div>
                    <div class="spoiler-review">Contains Spoiler</div>
                    <p>I have been a cinema lover for years, read a lot of reviews on SKRN and everywhere, and never found the right movie to write my first review. I always thought I would wait for the movie.</p>
                    <p>And this is it!</p>
                </li>
                <li>
                    <div class="circle-rating-pro" data-value="0.9" data-animation-start-value="0.9" data-size="32" data-thickness="3" data-fill="{&quot;color&quot;: &quot;#42b740&quot;}" data-empty-fill="#def6de" data-reverse="true"><span style="color:#42b740;">9.0</span></div>
                    <h6>Jennifer Thomas</h6>
                    <div class="sidebar-review-time">August 15, 2017</div>
                    <p>'Oblivion’ was incredible. The visuals, the score, the acting, were all amazing. The plot is definitely one of the most original I've seen in a while</p>
                </li>
            </ul>
            <a href="javascript:void(0);" class="btn btn-green-pro btn-sm">See All Reviews</a>
        </div><!-- close .content-sidebar-section -->
        
    </div><!-- close #content-sidebar-pro -->
	
	<main id="col-main-with-sidebar">

        <div id="movie-detail-header-pro" style="background-image:url({{asset('assets/front/images/demo/dashboard-movie-poster.jpg')}});">
            
            <div class="progression-studios-slider-more-options">
                <i class="fas fa-ellipsis-h"></i>
                <ul>
                    <li><a href="javascript:void(0);">Add to Favorites</a></li>
                    <li><a href="javascript:void(0);">Add to Watchlist</a></li>
                    <li><a href="javascript:void(0);">Add to Playlist</a></li>
                    <li><a href="javascript:void(0);">Share...</a></li>
                    <li><a href="javascript:void(0);">Write A Review</a></li>
                </ul>
            </div>
            
            <a class="movie-detail-header-play-btn afterglow" href="javascript:void(0);"><i class="fas fa-play"></i></a>

            <div id="movie-detail-gradient-pro"></div>
        </div><!-- close #movie-detail-header-pro -->
        
        <div class="dashboard-container mt-5">
            <div class="movie-details-section">
				<div class="row">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
						<div class="card bg-bordered">
							<div class="card-body">
								<h2>INFORMATION PROFESSIONNELLES</h2>
								<form class="account-settings-form">
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label for="e-mail" class="col-form-label">E-mail</label>
												<input type="text" class="form-control no-bt" id="e-mail" value="suzie@outlook.com">
											</div>
										</div><!-- close .col -->
									</div><!-- close .row -->
								</form>
							</div>
						</div>
                    </div><!-- close .col -->
                </div><!-- close .row -->
            </div><!-- close .movie-details-section -->

            <div class="movie-details-section">
				<div class="row">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
						<div class="card bg-bordered">
							<div class="card-body">
								<h2>EXPERIENCES</h2>
								<div class="row">
									<div class="col-12 col-md-12 col-lg-12 col-xl-12 text-right">
										<button type="button" class="link-edit mb-2" data-toggle="tooltip" data-placement="top" title="Ajouter une experience"><i class="fa fa-plus" aria-hidden="true"></i> </button>
									</div>
								</div>
								<div class="row">
									<div class="col-12 col-md-12 col-lg-12 col-xl-12">
										<ul class="list-group">
											<li class="list-group-item">Active item</li>
											<li class="list-group-item">Item</li>
											<li class="list-group-item">Disabled item</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
                    </div><!-- close .col -->
                </div><!-- close .row -->
            </div><!-- close .movie-details-section -->

			<div class="movie-details-section">
                <h2>FORMATIONS ET CERTIFICATIONS</h2>
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                        
                    </div><!-- close .col -->
                </div><!-- close .row -->
            </div><!-- close .movie-details-section -->

			<div class="movie-details-section">
                <h2>LANGUES</h2>
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                        
                    </div><!-- close .col -->
                </div><!-- close .row -->
            </div><!-- close .movie-details-section -->

        </div><!-- close .dashboard-container -->
    </main>
	
	{# <main id="col-main">

        <div class="dashboard-container">
			<ul class="dashboard-sub-menu bg-bordered">
				<li><a href="#!">Faire un vidéo</a></li>
                <li class="current"><a href="#!">INFORMATION PROFESSIONNELLES</a></li>
                <li><a href="#!">EXPERIENCES</a></li>
				<li><a href="#!">FORMATIONS ET CERTIFICATIONS</a></li>
				<li><a href="#!">LANGUES</a></li>
				<li><a href="#!">Domaine</a></li>
            </ul><!-- close .dashboard-sub-menu -->
            <div class="container-fluid bg-bordered">
                <div class="row">
                    {% set fullName = app.user.prenom ~ " " ~ app.user.nom %}
                    {% set imagePorfil = app.user.image ? app.user.image : 'default.png' %}
                    <div class="col-md-12">

                        <form class="account-settings-form">

                            <p class="small-paragraph-spacing">By letting us know your name, we can make our support
                                experience much more personal.</p>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="first-name" class="col-form-label">First Name:</label>
                                        <input type="text" class="form-control" id="first-name" value="Suzie">
                                    </div>
                                </div><!-- close .col -->
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="last-name" class="col-form-label">Last Name:</label>
                                        <input type="text" class="form-control" id="last-name" value="Smith">
                                    </div>
                                </div><!-- close .col -->
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="last-name" class="col-form-label">Country:</label>
                                        <select class="custom-select">
                                            <option value="0">All Countries</option>
                                            <option value="1">Argentina</option>
                                            <option value="2">Australia</option>
                                            <option value="3">Bahamas</option>
                                            <option value="4">Belgium</option>
                                            <option value="5">Brazil</option>
                                            <option value="6">Canada</option>
                                            <option value="7">Chile</option>
                                            <option value="8">China</option>
                                            <option value="9">Denmark</option>
                                            <option value="10">Ecuador</option>
                                            <option value="11">France</option>
                                            <option value="12">Germany</option>
                                            <option value="13">Greece</option>
                                            <option value="14">Guatemala</option>
                                            <option value="15">Italy</option>
                                            <option value="16">Japan</option>
                                            <option value="17">asdfasdf</option>
                                            <option value="18">Korea</option>
                                            <option value="19">Malaysia</option>
                                            <option value="20">Monaco</option>
                                            <option value="21">Morocco</option>
                                            <option value="22">New Zealand</option>
                                            <option value="23">Panama</option>
                                            <option value="24">Portugal</option>
                                            <option value="25">Russia</option>
                                            <option value="26">United Kingdom</option>
                                            <option selected>United States</option>
                                        </select>
                                    </div>
                                </div><!-- close .col -->
                            </div><!-- close .row -->
                            <hr>

                            <h5>Account Information</h5>
                            <p class="small-paragraph-spacing">You can change the email address you use here.</p>

                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="e-mail" class="col-form-label">E-mail</label>
                                        <input type="text" class="form-control" id="e-mail"
                                            value="suzie@outlook.com">
                                    </div>
                                </div><!-- close .col -->
                                <div class="col-sm">
                                    <div class="form-group">
                                        <div><label for="button-change" class="col-form-label">&nbsp; &nbsp;</label>
                                        </div>
                                        <a href="{{path('user_parametres')}}" class="btn btn-form">Change E-mail</a>
                                    </div>
                                </div><!-- close .col -->

                            </div><!-- close .row -->

                            <hr>
                            <h5>Change Password</h5>
                            <p class="small-paragraph-spacing">You can change the password you use for your account
                                here.</p>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="password" class="col-form-label">Current Password:</label>
                                        <input type="text" class="form-control" id="password"
                                            value="&middot;&middot;&middot;&middot;&middot;&middot;&middot;&middot;&middot;&middot;&middot;&middot;">
                                    </div>
                                </div><!-- close .col -->
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="new-password" class="col-form-label">New Password:</label>
                                        <input type="text" class="form-control" id="new-password"
                                            placeholder="Minimum of 6 characters">
                                    </div>
                                </div><!-- close .col -->
                                <div class="col-sm">
                                    <div class="form-group">
                                        <div><label for="confirm-password" class="col-form-label">&nbsp;
                                                &nbsp;</label></div>
                                        <input type="text" class="form-control" id="confirm-password"
                                            placeholder="Confirm New Password">
                                    </div>
                                </div><!-- close .col -->
                            </div><!-- close .row -->

                            <hr>
                            <h5>Preferred Genres</h5>
                            <p class="small-paragraph-spacing">Pick your favorite genres for content.</p>

                            <div class="registration-genres-step">
                                <ul class="registration-genres-choice">
                                    <li class="active">
                                        <i class="fas fa-check-circle"></i>
                                        <img src="{{asset('assets/front/images/genres/drama.png')}}" alt="Drama">
                                        <h6>Drama</h6>
                                    </li>
                                    <li>
                                        <i class="fas fa-check-circle"></i>
                                        <img src="{{asset('assets/front/images/genres/comedy.png')}}" alt="Comedy">
                                        <h6>Comedy</h6>
                                    </li>
                                    <li>
                                        <i class="fas fa-check-circle"></i>
                                        <img src="{{asset('assets/front/images/genres/action.png')}}" alt="Action">
                                        <h6>Action</h6>
                                    </li>
                                    <li>
                                        <i class="fas fa-check-circle"></i>
                                        <img src="{{asset('assets/front/images/genres/romance.png')}}" alt="Romance">
                                        <h6>Romance</h6>
                                    </li>
                                    <li class="active">
                                        <i class="fas fa-check-circle"></i>
                                        <img src="{{asset('assets/front/images/genres/horror.png')}}" alt="Horror">
                                        <h6>Horror</h6>
                                    </li>
                                    <li class="active">
                                        <i class="fas fa-check-circle"></i>
                                        <img src="{{asset('assets/front/images/genres/fantasy.png')}}" alt="Fantasy">
                                        <h6>Fantasy</h6>
                                    </li>
                                    <li>
                                        <i class="fas fa-check-circle"></i>
                                        <img src="{{asset('assets/front/images/genres/sci-fi.png')}}" alt="Sci-Fi">
                                        <h6>Sci-Fi</h6>
                                    </li>
                                    <li>
                                        <i class="fas fa-check-circle"></i>
                                        <img src="{{asset('assets/front/images/genres/thriller.png')}}" alt="Thriller">
                                        <h6>Thriller</h6>
                                    </li>
                                    <li>
                                        <i class="fas fa-check-circle"></i>
                                        <img src="{{asset('assets/front/images/genres/western.png')}}" alt="Western">
                                        <h6>Western</h6>
                                    </li>
                                    <li>
                                        <i class="fas fa-check-circle"></i>
                                        <img src="{{asset('assets/front/images/genres/adventure.png')}}" alt="Adventure">
                                        <h6>Adventure</h6>
                                    </li>
                                    <li>
                                        <i class="fas fa-check-circle"></i>
                                        <img src="{{asset('assets/front/images/genres/animation.png')}}" alt="Animation">
                                        <h6>Animation</h6>
                                    </li>
                                    <li>
                                        <i class="fas fa-check-circle"></i>
                                        <img src="{{asset('assets/front/images/genres/documentary.png')}}" alt="Documentary">
                                        <h6>Documentary</h6>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div><!-- close .registration-genres-step -->
                            <div class="clearfix"></div>
                            <hr>
                            <p><a href="{{path('user_parametres')}}" class="btn btn-green-pro">Save Changes</a></p>
                            <br>
                        </form>

                    </div><!-- close .col -->

                </div><!-- close .row -->
            </div><!-- close .container-fluid -->

        </div><!-- close .dashboard-container -->
    </main> #}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{asset('assets/front/js/jquery-asRange.min.js')}}" defer></script><!-- Range Slider JS Plugin -->
    <script src="{{asset('assets/front/js/circle-progress.min.js')}}" defer></script><!-- Circle Progress JS Plugin -->
    <script src="{{asset('assets/front/js/script-dashboard.js')}}" defer></script><!-- Custom Document Ready for Dashboard Only JS -->
{% endblock %}
