{% extends 'pages/front/base.html.twig' %}
{% set fullName = app.user.prenom ~ " " ~ app.user.nom %}
{% set imagePorfil = app.user.image ? app.user.image : 'default.png' %}
{% block title %}Dashboard !{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link href="{{asset('assets/plugins/Tags-Input/dist/jquery.tagsinput-revisited.min.css')}}" rel="stylesheet" type="text/css">

    <!--DateTime Picker-->
    <link href="{{asset('assets/plugins/datetimepicker/jquery.datetimepicker.css')}}"  rel="stylesheet" type="text/css"/>
    <link href="{{asset('assets/front/pages/profil/style.css')}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
	<div id="content-sidebar-pro">
        
        <div id="content-sidebar-image">
            <img src="{{asset('assets/front/images/demo/movie-detail-poster.jpg')}}" alt="Movie Poster">
        </div>
        
        <div class="content-sidebar-section">
            <h2 class="content-sidebar-sub-header">{{fullName |capitalize }} <a href="{{path('user_parametres')}}" class="link-edit" title="Modifier votre profil"><i class="fas fa-pencil-alt"></i></a></h2>
            <ul class="progression-studios-slider-rating">
                <li>PG-13</li><li>HD</li>
            </ul>
        </div><!-- close .content-sidebar-section -->

		<div class="content-sidebar-section">
            <h4 class="content-sidebar-sub-header">Note</h4>
            <div class="content-sidebar-short-description">
				<em class="fas fa-star golden-star" aria-hidden="true"></em>
				<em class="fas fa-star golden-star" aria-hidden="true"></em>
				<em class="fas fa-star golden-star" aria-hidden="true"></em>
				<em class="fas fa-star gray-star" aria-hidden="true"></em>
				<em class="fas fa-star gray-star" aria-hidden="true"></em>
			</div>
        </div><!-- close .content-sidebar-section -->
        
        <div class="content-sidebar-section">
            <h4 class="content-sidebar-sub-header">Date de naissance</h4>
            <div class="content-sidebar-short-description">{{ app.user.birthday ? app.user.birthday |date('d') ~ app.user.birthday |date('m') |string_month ~ app.user.birthday |date('Y') : '? ? ?' }}</div>
        </div><!-- close .content-sidebar-section -->
        
        <div class="content-sidebar-section">
            <h4 class="content-sidebar-sub-header">Length</h4>
            <div class="content-sidebar-short-description">2 hr 43 min</div>
        </div><!-- close .content-sidebar-section -->
        
        <div class="content-sidebar-section">
            <h4 class="content-sidebar-sub-header">Director</h4>
            <div class="content-sidebar-short-description">James Wan</div>
        </div><!-- close .content-sidebar-section -->
        
        <div class="content-sidebar-section">
            <h2 class="content-sidebar-sub-header adjusted-recent-reviews">Recent Reviews</h2>
            <ul id="sidebar-reviews-pro">
                <li>
                    <div class="circle-rating-pro" data-value="0.86" data-animation-start-value="0.86" data-size="32" data-thickness="3" data-fill="{&quot;color&quot;: &quot;#42b740&quot;}" data-empty-fill="#def6de" data-reverse="true"><span style="color:#42b740;">8.6</span></div>
                    <h6>Dan Cederholm</h6>
                    <div class="sidebar-review-time">October 22, 2017</div>
                    <div class="spoiler-review">Contains Spoiler</div>
                    <p>They don't make many Sci-Fi films these days. This was a pleasant surprise all throughout the film. I really like this film.</p>
                </li>
                <li>
                    <div class="circle-rating-pro" data-value="0.53" data-animation-start-value="0.53" data-size="32" data-thickness="3" data-fill="{&quot;color&quot;: &quot;#ff4141&quot;}" data-empty-fill="#ffe1e1" data-reverse="true"
                    ><span style="color:#ff4141;">5.3</span></div>
                    <h6>Jeff Seid</h6>
                    <div class="sidebar-review-time">October 18, 2017</div>
                    <p>Coming out of the theatres following my viewing of this film, I was confused. I couldn't decide whether I liked it or not.</p>
                </li>
                <li>
                    <div class="circle-rating-pro" data-value="0.72" data-animation-start-value="0.72" data-size="32" data-thickness="3" data-fill="{&quot;color&quot;: &quot;#42b740&quot;}" data-empty-fill="#def6de"  data-reverse="true"><span style="color:#42b740;">7.2</span></div>
                    <h6>Christian De Guzman</h6>
                    <div class="sidebar-review-time">August 26, 2017</div>
                    <div class="spoiler-review">Contains Spoiler</div>
                    <p>I have been a cinema lover for years, read a lot of reviews on SKRN and everywhere, and never found the right movie to write my first review. I always thought I would wait for the movie.</p>
                    <p>And this is it!</p>
                </li>
                <li>
                    <div class="circle-rating-pro" data-value="0.9" data-animation-start-value="0.9" data-size="32" data-thickness="3" data-fill="{&quot;color&quot;: &quot;#42b740&quot;}" data-empty-fill="#def6de" data-reverse="true"><span style="color:#42b740;">9.0</span></div>
                    <h6>Jennifer Thomas</h6>
                    <div class="sidebar-review-time">August 15, 2017</div>
                    <p>'Oblivion’ was incredible. The visuals, the score, the acting, were all amazing. The plot is definitely one of the most original I've seen in a while</p>
                </li>
            </ul>
            <a href="javascript:void(0);" class="btn btn-green-pro btn-sm">See All Reviews</a>
        </div><!-- close .content-sidebar-section -->
        
    </div><!-- close #content-sidebar-pro -->
	
	<main id="col-main-with-sidebar">

        <div id="movie-detail-header-pro" style="background-image:url({{asset('assets/front/images/demo/dashboard-movie-poster.jpg')}});">
            
            <div class="progression-studios-slider-more-options">
                <i class="fas fa-ellipsis-h"></i>
                <ul>
                    <li><a href="javascript:void(0);">Add to Favorites</a></li>
                    <li><a href="javascript:void(0);">Add to Watchlist</a></li>
                    <li><a href="javascript:void(0);">Add to Playlist</a></li>
                    <li><a href="javascript:void(0);">Share...</a></li>
                    <li><a href="javascript:void(0);">Write A Review</a></li>
                </ul>
            </div>
            
            <a class="movie-detail-header-play-btn afterglow" href="javascript:void(0);"><i class="fas fa-play"></i></a>

            <div id="movie-detail-gradient-pro"></div>
        </div><!-- close #movie-detail-header-pro -->
        
        <div class="dashboard-container mt-5">
            <div class="movie-details-section">
				<div class="row">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
						<div class="card bg-bordered">
							<div class="card-body">
								<h2>INFORMATION PROFESSIONNELLES</h2>
								{% include "pages/front/professionnel/forms/_informationProfilType.html.twig" %}
							</div>
						</div>
                    </div><!-- close .col -->
                </div><!-- close .row -->
            </div><!-- close .movie-details-section -->

            <div class="movie-details-section">
				<div class="row">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
						<div class="card bg-bordered">
							<div class="card-body">
								<h2>EXPERIENCES</h2>
								<div class="row">
									<div class="col-12 col-md-12 col-lg-12 col-xl-12 text-right">
										<button type="button" class="link-edit btn" data-toggle="modal" data-target="#modalAjoutExperience" title="Ajouter une experience"><i class="fa fa-plus" aria-hidden="true"></i> </button>
									</div>
								</div>
								<div class="row">
									<div class="col-12 col-md-12 col-lg-12 col-xl-12">
										<ul class="list-group">
											<li class="list-group-item">Active item</li>
											<li class="list-group-item">Item</li>
											<li class="list-group-item">Disabled item</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
                    </div><!-- close .col -->
                </div><!-- close .row -->
            </div><!-- close .movie-details-section -->

			<div class="movie-details-section">
                <h2>FORMATIONS ET CERTIFICATIONS</h2>
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                        
                    </div><!-- close .col -->
                </div><!-- close .row -->
            </div><!-- close .movie-details-section -->

			<div class="movie-details-section">
                <h2>LANGUES</h2>
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                        
                    </div><!-- close .col -->
                </div><!-- close .row -->
            </div><!-- close .movie-details-section -->

        </div><!-- close .dashboard-container -->
    </main>

    <!-- Modal -->
    <div class="modal fade" id="modalAjoutExperience" tabindex="-1" role="dialog" aria-labelledby="modalAjoutExperienceTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                {% include "pages/front/professionnel/forms/_experienceType.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{asset('assets/plugins/Tags-Input/dist/jquery.tagsinput-revisited.min.js')}}"></script>
    <script src="{{asset('assets/front/js/jquery-asRange.min.js')}}" defer></script><!-- Range Slider JS Plugin -->
    <script src="{{asset('assets/front/js/circle-progress.min.js')}}" defer></script><!-- Circle Progress JS Plugin -->
    <script src="{{asset('assets/front/js/script-dashboard.js')}}" defer></script><!-- Custom Document Ready for Dashboard Only JS -->

    <!--DateTime Picker-->
    <script src="{{asset('assets/plugins/datetimepicker/php-date-formatter/js/php-date-formatter.min.js')}}"></script>
    <script src="{{asset('assets/plugins/datetimepicker/jquery-mousewheel/jquery.mousewheel.js')}}"></script>
    <script src="{{asset('assets/plugins/datetimepicker/jquery.datetimepicker.js')}}"></script>

    <script src="{{asset('assets/front/pages/profil/script.js')}}" defer></script>
{% endblock %}
