{% extends 'pages/default/index.html.twig' %}

{% block title %}Choisir votre type de compte{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        li.current-menu-item {
            border-color: #3A54A5 !important;
        }
        .current-menu-item .registration-step-title {
            color: #3A54A5;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block main %}
    <div id="content-pro">
        <div class="container">
            <div class="centered-headings-pro pricing-plans-headings">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} alert-dismissible fade show">
                            <button type="button" class="close" style="color: red; font-size: x-large; opacity: 0.5;" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div><!-- close .container -->
			
        {% if profil == 'entreprise' %}
            <div class="container">
                <ul id="registration-steps-pro">
                    {% set n_step1 = 0 %}
                    <li class="{{ activeRoute == 'plan' ? 'current-menu-item' : ''}}">
                        <a href="javascript:void(0);">
                            {% set n_step1 = 1 %}
                            <div class="registration-step-circle-icon">0{{n_step1}}</div>
                            <div class="registration-step-number">Etape {{n_step1}}</div>
                            <h5 class="registration-step-title">Choisissez votre plan</h5>
                        </a>
                    </li>
                    <li class="{{ activeRoute == 'entreprise' ? 'current-menu-item' : ''}}">
                        <a href="javascript:void(0);">
                            {% set n_step2 = n_step1 + 1 %}
                            <div class="registration-step-circle-icon">0{{n_step2}}</div>
                            <div class="registration-step-number">Etape {{n_step2}}</div>
                            <h5 class="registration-step-title">Enregistrez votre entreprise</h5>
                        </a>
                    </li>
                    <li class="{{ activeRoute == 'compte' ? 'current-menu-item' : ''}}">
                        <a href="javascript:void(0);">
                            {% set n_step3 = n_step2 + 1 %}
                            <div class="registration-step-circle-icon">0{{n_step3}}</div>
                            <div class="registration-step-number">Etape {{n_step3}}</div>
                            <h5 class="registration-step-title">Créez votre compte</h5>
                        </a>
                    </li>
                    <li class="{{ activeRoute == 'welcome' ? 'current-menu-item' : ''}}">
                        <a href="javascript:void(0);">
                        {% set n_step4 = n_step3 + 1 %}
                            <div class="registration-step-circle-icon">0{{n_step4}}</div>
                            <div class="registration-step-number">Etape {{n_step4}}</div>
                            <h5 class="registration-step-title">Bienvenue sur SUNU CVIDEO!</h5>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
        {% endif %}

        {% block currentstep %}
                    
        {% endblock %}
    </div><!-- close #content-pro -->
{% endblock %}