{% extends 'pages/front/base.html.twig' %}

{% block title %}Tableau de bord !{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('assets/plugins/swiper-4.5.0/dist/css/swiper.min.css')}}"><!-- Swiper JS Plugin -->
    <link href="{{asset('assets/front/pages/entreprise/dashboard/style.css')}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
    <main id="col-main">
        <div class="flexslider progression-studios-dashboard-slider">
            <ul class="slides">
                <li class="progression_studios_animate_left">
                    <div class="progression-studios-slider-dashboard-image-background" style="background-image:url({{asset('assets/front/images/demo/dashboard-slide-1.jpg')}});">
                        <div class="progression-studios-slider-display-table">
                            <div class="progression-studios-slider-vertical-align">

                                <div class="container">

                                    <a class="progression-studios-slider-play-btn afterglow" href="javascript:void(0);"><i class="fas fa-play"></i></a>

                                    <div class="circle-rating-pro" data-value="0.86" data-animation-start-value="0.86" data-size="70" data-thickness="6" data-fill="{&quot;color&quot;: &quot;#42b740&quot;}" data-empty-fill="#def6de" data-reverse="true">
                                        <span style="color:#42b740;">8.6</span>
                                    </div>

                                    <div class="progression-studios-slider-dashboard-caption-width">
                                        <div class="progression-studios-slider-caption-align">
                                            <h6>TV Series</h6>
                                            <ul class="progression-studios-slider-rating">
                                                <li>PG-13</li>
                                                <li>HD</li>
                                            </ul>
                                            <h2><a href="dashboard-movie-profile.html">Seven Days in Ibiza</a></h2>
                                            <ul class="progression-studios-slider-meta">
                                                <li>15 August, 2016 (UK)</li>
                                                <li>163 min.</li>
                                                <li>Documentary</li>
                                            </ul>
                                            <p class="progression-studios-slider-description">A sex columnist,
                                                Carrie Bradshaw, and her three friends Samantha, Charlotte
                                                and Miranda explore Manhattan's dating scene, chronicling the mating
                                                habits of
                                                single New Yorkers.</p>

                                            <a class="btn btn-green-pro btn-slider-pro btn-shadow-pro afterglow"
                                                href="{{path('professionnel_detail', {slug: 'dkdjfff'})}}"><i
                                                    class="fas fa-play"></i> Watch Trailer</a>


                                            <div class="progression-studios-slider-more-options">
                                                <i class="fas fa-ellipsis-h"></i>
                                                <ul>
                                                    <li><a href="javascript:void(0);">Add to Favorites</a></li>
                                                    <li><a href="javascript:void(0);">Add to Watchlist</a></li>
                                                    <li><a href="javascript:void(0);">Add to Playlist</a></li>
                                                    <li><a href="javascript:void(0);">Share...</a></li>
                                                    <li><a href="javascript:void(0);">Write A Review</a></li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>

                                            <h5>Starring</h5>
                                            <ul class="progression-studios-staring-slider">
                                                <li><a href="javascript:void(0);"><img
                                                            src="{{asset('assets/front/images/demo/user-1.jpg')}}" alt="Starring"></a></li>
                                                <li><a href="javascript:void(0);"><img
                                                            src="{{asset('assets/front/images/demo/user-2.jpg')}}" alt="Starring"></a></li>
                                                <li><a href="javascript:void(0);"><img
                                                            src="{{asset('assets/front/images/demo/user-3.jpg')}}" alt="Starring"></a></li>
                                                <li><a href="javascript:void(0);"><img
                                                            src="{{asset('assets/front/images/demo/user-4.jpg')}}" alt="Starring"></a></li>
                                                <li><a href="javascript:void(0);"><img
                                                            src="{{asset('assets/front/images/demo/user-5.jpg')}}" alt="Starring"></a></li>
                                                <li><a href="javascript:void(0);"><img
                                                            src="{{asset('assets/front/images/demo/user-6.jpg')}}" alt="Starring"></a></li>
                                            </ul>

                                        </div><!-- close .progression-studios-slider-caption-align -->
                                    </div><!-- close .progression-studios-slider-caption-width -->

                                </div><!-- close .container -->

                            </div><!-- close .progression-studios-slider-vertical-align -->
                        </div><!-- close .progression-studios-slider-display-table -->

                        <div class="progression-studios-slider-mobile-background-cover"></div>
                    </div><!-- close .progression-studios-slider-image-background -->
                </li>
                <li class="progression_studios_animate_in">
                    <div class="progression-studios-slider-dashboard-image-background"
                        style="background-image:url({{asset('assets/front/images/demo/dashboard-slide-2.jpg')}});">
                        <div class="progression-studios-slider-display-table">
                            <div class="progression-studios-slider-vertical-align">

                                <div class="container">

                                    <a class="progression-studios-slider-play-btn afterglow" href="javascript:void(0);"><i class="fas fa-play"></i></a>

                                    <div class="circle-rating-pro" data-value="0.82" data-animation-start-value="0.82" data-size="70" data-thickness="6" data-fill="{ &quot;color&quot;: &quot;#42b740&quot;}" data-empty-fill="#203521" data-reverse="true">
                                        <span style="color:#42b740;">8.2</span>
                                    </div>

                                    <div class="progression-studios-slider-dashboard-caption-width">
                                        <div class="progression-studios-slider-caption-align">
                                            <h6 class="light-fonts-pro">TV Series</h6>
                                            <ul class="progression-studios-slider-rating">
                                                <li>PG-13</li>
                                                <li>HD</li>
                                            </ul>
                                            <h2 class="light-fonts-pro"><a href="dashboard-movie-profile.html">Made In America</a></h2>
                                            <ul class="progression-studios-slider-meta">
                                                <li>15 August, 2016 (UK)</li>
                                                <li>163 min.</li>
                                                <li>Documentary</li>
                                            </ul>
                                            <p class="progression-studios-slider-description light-fonts-pro">A sex
                                                columnist, Carrie Bradshaw, and her three friends Samantha,
                                                Charlotte
                                                and Miranda explore Manhattan's dating scene, chronicling the mating
                                                habits of
                                                single New Yorkers.</p>

                                            <a class="btn btn-green-pro btn-slider-pro afterglow"
                                                href="javascript:void(0);"><i
                                                    class="fas fa-play"></i> Watch Trailer</a>
                                            <div class="progression-studios-slider-more-options">
                                                <i class="fas fa-ellipsis-h"></i>
                                                <ul>
                                                    <li><a href="javascript:void(0);">Add to Favorites</a></li>
                                                    <li><a href="javascript:void(0);">Add to Watchlist</a></li>
                                                    <li><a href="javascript:void(0);">Add to Playlist</a></li>
                                                    <li><a href="javascript:void(0);">Share...</a></li>
                                                    <li><a href="javascript:void(0);">Write A Review</a></li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>

                                            <h5 class="light-fonts-pro">Starring</h5>
                                            <ul class="progression-studios-staring-slider">
                                                <li><a href="javascript:void(0);"><img
                                                            src="{{asset('assets/front/images/demo/user-1.jpg')}}" alt="Starring"></a></li>
                                                <li><a href="javascript:void(0);"><img
                                                            src="{{asset('assets/front/images/demo/user-2.jpg')}}" alt="Starring"></a></li>
                                                <li><a href="javascript:void(0);"><img
                                                            src="{{asset('assets/front/images/demo/user-3.jpg')}}" alt="Starring"></a></li>
                                                <li><a href="javascript:void(0);"><img
                                                            src="{{asset('assets/front/images/demo/user-4.jpg')}}" alt="Starring"></a></li>
                                                <li><a href="javascript:void(0);"><img
                                                            src="{{asset('assets/front/images/demo/user-5.jpg')}}" alt="Starring"></a></li>
                                                <li><a href="javascript:void(0);"><img
                                                            src="{{asset('assets/front/images/demo/user-6.jpg')}}" alt="Starring"></a></li>
                                            </ul>

                                        </div><!-- close .progression-studios-slider-caption-align -->
                                    </div><!-- close .progression-studios-slider-caption-width -->

                                </div><!-- close .container -->

                            </div><!-- close .progression-studios-slider-vertical-align -->
                        </div><!-- close .progression-studios-slider-display-table -->

                        <div class="progression-studios-slider-mobile-background-cover-dark"></div>
                    </div><!-- close .progression-studios-slider-image-background -->
                </li>
            </ul>
        </div><!-- close .progression-studios-slider - See /js/script.js file for options -->
        <!-- Swiper -->
        <div id="liste-secteurs" class="swiper-container dashboard-secteur-pro">
            <div class="swiper-wrapper">
                {% for secteur in secteurs %}
                    <div class="swiper-slide {{ loop.first ? 'active' : '' }}" data-id="{{ secteur.id }}" data-path="{{path('professionnel_secteur_liste')}}">
                        <img src="{{asset('assets/secteurs/' ~ secteur.image )}}" alt="{{ secteur.libelle |raw |e }}">
                        <h6>{{ secteur.libelle |raw |e }}</h6>
                    </div>
                {% endfor %}
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>

        <div class="clearfix"></div>

        <div class="dashboard-container">
            <div id="liste-professionnels" class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12 text-center on-loading-liste">
                    <h5 class="text-muted text-center text-waiting spinner-waiting">Chargement...</h5>
                    <img src="{{asset('assets/front/images/spinner.svg')}}" class="img-fluid text-center spinner-waiting" alt="Patientez svp...">
                </div>
            </div><!-- close .row -->
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{asset('assets/front/js/jquery-asRange.min.js')}}" defer></script><!-- Range Slider JS Plugin -->
    <script src="{{asset('assets/front/js/circle-progress.min.js')}}" defer></script><!-- Circle Progress JS Plugin -->
    <script src="{{asset('assets/front/js/script-dashboard.js')}}" defer></script><!-- Custom Document Ready for Dashboard Only JS -->
    <script src="{{asset('assets/plugins/swiper-4.5.0/dist/js/swiper.min.js')}}" defer></script><!-- Swiper JS Plugin -->

    <script src="{{asset('assets/front/pages/entreprise/dashboard/script.js')}}" defer></script>
{% endblock %}
