{% extends 'pages/front/base.html.twig' %}

{% block title %}Dashboard !{% endblock %}

{% block main %}
	<div id="content-sidebar-pro">
		{% set fullName = app.user.prenom ~ " " ~ app.user.nom %}
        {% set imagePorfil = app.user.image ? app.user.image : 'default.png' %}
		<div id="content-sidebar-info">
			<img src="{{asset('assets/front/images/demo/profile-image-sidebar.jpg')}}" alt="Suzie">
			<div id="profile-sidebar-name">
				<h5>{{ fullName }}</h5>
				<h6>Manila, Philippines</h6>
			</div>
			<div id="profile-sidebar-gradient"></div>
			<a href="{{path('user_parametres')}}" class="edit-profile-sidebar"><i class="fas fa-pencil-alt"></i></a>
		</div>
		
		<div class="content-sidebar-section">
			<h3 class="content-sidebar-sub-header">mon profil</h3>
			<ul id="profile-watched-stats">
				<li><span>{{ app.user.infoProfil ? app.user.infoProfil.vues |length : 0 }}</span> Vues</li>
				<li><span>0</span> Recherchés</li>
				<li><span>{{ app.user.infoProfil ? app.user.infoProfil.vues |length : 0 }}</span> Total</li>
			</ul>
		</div><!-- close .content-sidebar-section -->
		
		<div class="content-sidebar-section">
			<h3 class="content-sidebar-sub-header">Domaines</h3>
			<ul class="progression-studios-slider-rating">
                {% for userSecteur in app.user.userSecteurs |slice(0, 4) %}
                    <li>{{ userSecteur.secteur.libelle |upper }}</li>
                {% endfor %}
            </ul>
			<div class="clearfix"></div>
		</div><!-- close .content-sidebar-section -->
		
		{# <div class="content-sidebar-section">
			<h3 class="content-sidebar-sub-header">Friends: 87</h3>
			<ul id="friends-activity-profiles">
				<li><a href="javascript:void(0);"><img src="{{asset('assets/front/images/demo/user-8.jpg')}}" alt="Friend"></a></li>
				<li><a href="javascript:void(0);"><img src="{{asset('assets/front/images/demo/user-9.jpg')}}" alt="Friend"></a></li>
				<li><a href="javascript:void(0);"><img src="{{asset('assets/front/images/demo/user-10.jpg')}}" alt="Friend"></a></li>
				<li><a href="javascript:void(0);"><img src="{{asset('assets/front/images/demo/user-11.jpg')}}" alt="Friend"></a></li>
				<li class="friends-activity-profiles-more"><a href="javascript:void(0);">+83</a></li>
			</ul>
			<div class="clearfix"></div>
		</div><!-- close .content-sidebar-section --> #}
		
		<div class="content-sidebar-section">
			<h3 class="content-sidebar-sub-header">Derniers visites</h3>
			<ul id="friends-activity-feed">
				{% if app.user.infoProfil and app.user.infoProfil.vues|length > 0 %}
					{% for vue in app.user.infoProfil.vues |slice(0, 4) %}
						{% set imagePorfil = vue.visiteur.image ? vue.visiteur.image : 'default.png' %}
						<li><img src="{{asset('assets/front/images/users/' ~ imagePorfil )}}" alt=""><a href="javascript:void(0);">{{vue.visiteur.prenom and vue.visiteur.nom ? vue.visiteur.prenom ~ ' ' ~ vue.visiteur.nom : vue.visiteur.email }}</a> a vue votre profil le <a href="javascript:void(0);">{{ vue.dateVue |date('d-m-Y') }}</a> vers <a href="javascript:void(0);">{{ vue.dateVue |date('H') ~ 'h' ~ vue.dateVue |date('i') }}</a></li>
					{% endfor %}
				{% else %}
					<li>Pas encore de visite !</li>
				{% endif %}
			</ul>
			<div class="clearfix"></div>
		</div><!-- close .content-sidebar-section -->
		
		
	</div><!-- close #content-sidebar-pro -->

	<main id="col-main-with-sidebar">
		<div class="dashboard-container">
			
			<ul class="dashboard-sub-menu" id="dashboard-sub-menu">
				<li class="current"><a href="javascript:void(0);" data-target="#recommandes">Recommandés</a></li>
				<li><a href="javascript:void(0);" data-target="#candidatures">Candidatures</a></li>
				<li><a href="javascript:void(0);" data-target="#convocations">Convocations</a></li>
			</ul><!-- close .dashboard-sub-menu -->
			
			
			<div class="row ele-sub-menu" id="recommandes">
				<div class="col-md-12">
					<h6>Aucune offre ne vous est pas encore recommendé</h6>
				</div>								
			</div><!-- close .row -->

			<div class="row ele-sub-menu" id="candidatures" style="display: none;">
				<div class="col-md-12">
					<h6>Vous n'avez pas encore à des offres</h6>
				</div>							
			</div><!-- close .row -->

			<div class="row ele-sub-menu" id="convocations" style="display: none;">
				<div class="col-md-12">
					<h6>Vous n'avez pas encore été par une entreprise</h6>
				</div>							
			</div><!-- close .row -->
		</div><!-- close .dashboard-container -->
	</main>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{asset('assets/front/js/jquery-asRange.min.js')}}" defer></script><!-- Range Slider JS Plugin -->
    <script src="{{asset('assets/front/js/circle-progress.min.js')}}" defer></script><!-- Circle Progress JS Plugin -->
    <script src="{{asset('assets/front/js/script-dashboard.js')}}" defer></script><!-- Custom Document Ready for Dashboard Only JS -->
	<script>
		$(function() {
			$('#dashboard-sub-menu').on( "click", "a", function() {
				$('#dashboard-sub-menu li.current').removeClass('current');
				$(this).closest('li').addClass('current');
				$('.ele-sub-menu').hide();
				$($(this).data('target')).show();
			});
		});
	</script>
{% endblock %}
