{% extends 'pages/front/base.html.twig' %}

{% block title %}Bienvenue sur Cvideos{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{asset('assets/front/pages/default/accueil/style.css')}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    {% block header %}
        <header id="masthead-pro">
            <div class="container">
                
                <h1><a href="{{path('app_home')}}"><img src="{{asset('assets/front/images/logo.png')}}" alt="Logo"></a></h1>
                
                <nav id="site-navigation-pro">
                    <ul class="sf-menu">
                        <li class="normal-item-pro">
                            <a href="{{path('app_home')}}">Accueil</a>
                        </li>
                        <li class="normal-item-pro">
                            <a href="javascript:void(0);">A propos</a>
                        </li>
                        <li class="normal-item-pro">
                            <a href="{{ path('index_faqs') }}">FAQs</a>
                        </li>
                        <li class="normal-item-pro">
                            <a href="javascript:void(0);">Contactez nous</a>
                        </li>
                    </ul>
                </nav>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('app_logout') }}" class="btn btn-header-pro btn-danger noselect">Se deconnecter</a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="btn btn-header-pro btn-default btn-custom waves-effect">Se connecter</a>
                    <a href="{{ path('choisir_profil') }}" class="btn btn-header-pro btn-green-pro noselect mr-md-1 mr-lg-1">Devenez membre !</a>
                {% endif %}
                <div id="mobile-bars-icon-pro" class="noselect"><em class="fas fa-bars"></em></div>
                
                <div class="clearfix"></div>
            </div><!-- close .container -->
            
            <nav id="mobile-navigation-pro">
            
                <ul id="mobile-menu-pro">
                    <li>
                        <a href="{{path('app_home')}}">Accueil</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">A propos</a>
                    </li>
                    <li>
                        <a href="{{ path('index_faqs') }}">FAQs</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Contactez nous</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
                
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('app_logout') }}" class="btn btn-mobile-pro btn-danger noselect">Se deconnecter</a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="btn btn-mobile-pro noselect btn-default btn-custom waves-effect">Se connecter</a>
                    <a href="{{ path('choisir_profil') }}" class="btn btn-mobile-pro btn-green-pro noselect">Devenez membre !</a>
                {% endif %}
            
            </nav>
        </header>
    {% endblock %}

    {% block main %}
        <div class="flexslider progression-studios-slider">
            <ul class="slides">
                <li class="progression_studios_animate_in">
                    <div class="progression-studios-slider-image-background" style="background-image:url({{asset('assets/front/images/slides/slide-3.jpg')}});">
                        <div class="progression-studios-slider-display-table">
                            <div class="progression-studios-slider-vertical-align">
                                
                                <div class="container">
                                    
                                    <div class="progression-studios-slider-caption-width">
                                        <div class="progression-studios-slider-caption-align">
                                            <h2>Bienvenue sur SUNU CVIDEO<span style="color:#3A54A5;">.</span></h2>
                                            <h6>La première plateforme web de recrutement de CV thèque en vidéo au Sénégal!</h6>
                                            <a class="btn btn-green-pro btn-slider-pro btn-shadow-pro" href="{{path('entreprise_dashboard')}}" role="button">Commencer</a>
                                        </div><!-- close .progression-studios-slider-caption-align -->
                                    </div><!-- close .progression-studios-slider-caption-width -->
                                    
                                </div><!-- close .container -->
                                
                            </div><!-- close .progression-studios-slider-vertical-align -->
                        </div><!-- close .progression-studios-slider-display-table -->
                        
                        <div class="progression-studios-slider-mobile-background-cover"></div>
                    </div><!-- close .progression-studios-slider-image-background -->
                </li>
                <li class="progression_studios_animate_right">
                    <div class="progression-studios-slider-image-background" style="background-image:url({{asset('assets/front/images/slides/slide-2.jpg')}}); background-color:#111015;">
                        <div class="progression-studios-slider-display-table">
                            <div class="progression-studios-slider-vertical-align">
                                
                                <div class="container">
                                    
                                    <div class="progression-studios-slider-caption-width">
                                        <div class="progression-studios-slider-caption-align">
                                            <h2 class="light-fonts-pro">Révélateur de talent</h2>
                                            <h6 class="light-fonts-pro">Savoir parler de ses comptétences pour se révéler auprès des recruteurs.</h6>
                                            <a class="btn btn-green-pro btn-slider-pro" href="{{path('professionnel_dashboard')}}" role="button">Commencer</a>
                                        </div><!-- close .progression-studios-slider-caption-align -->
                                    </div><!-- close .progression-studios-slider-caption-width -->
                                    
                                </div><!-- close .container -->
                                
                            </div><!-- close .progression-studios-slider-vertical-align -->
                        </div><!-- close .progression-studios-slider-display-table -->
                        
                    </div><!-- close .progression-studios-slider-image-background -->
                </li>
                <li class="progression_studios_animate_left">
                    <div class="progression-studios-slider-image-background" style="background-image:url({{asset('assets/front/images/slides/cvideos.png')}});">
                        <div class="progression-studios-slider-display-table">
                            <div class="progression-studios-slider-vertical-align">
                                
                                <div class="container">
                                    
                                    <div class="progression-studios-slider-caption-width">
                                        <div class="progression-studios-slider-caption-align">
                                            <h2>Porteur de projet</h2>
                                            <h6 style="color: #ffffff;">Présenter votre concept et trouver des partenaires.</h6>
                                            <a class="btn btn-green-pro btn-slider-pro btn-shadow-pro" href="{{path('entreprise_dashboard')}}" role="button">Commencer</a>
                                        </div><!-- close .progression-studios-slider-caption-align -->
                                    </div><!-- close .progression-studios-slider-caption-width -->
                                    
                                </div><!-- close .container -->
                                
                            </div><!-- close .progression-studios-slider-vertical-align -->
                        </div><!-- close .progression-studios-slider-display-table -->
                        
                        <div class="progression-studios-slider-mobile-background-cover"></div>
                    </div><!-- close .progression-studios-slider-image-background -->
                </li>
            </ul>
        </div><!-- close .progression-studios-slider - See /js/script.js file for options -->
        
        <div id="content-pro">
            
            <div class="container">
                

                <div class="row">
                    <div class="col-md my-auto"><!-- .my-auto vertically centers contents -->
                        <img src="{{asset('assets/front/images/slides/home-1.jpg')}}" class="img-fluid" alt="Watch in Any Devices">
                    </div>
                    <div class="col-md my-auto"><!-- .my-auto vertically centers contents -->
                        <h2 class="short-border-bottom">Regarder sur n'importe quel appareil</h2>
                        <p>
                            Avec les appareils de toutes dimensions connectés à internet, nous vous fournissons des vidéos adaptables à tous les formats d’écrans pour plus de confortabilité .
                        </p>
                        <div style="height:15px;"></div>
                        <p><a class="btn btn-green-pro" href="{{path('professionnel_dashboard')}}" role="button">En savoir plus</a></p>
                    </div>
                </div><!-- close .row -->
                
                
                <div class="row">
                    <div class="col-md my-auto"><!-- .my-auto vertically centers contents -->
                        <h2 class="short-border-bottom">Faites votre propre playlist</h2>
                        <p>Curabitur at lobortis leo varius tellus. Phasellus id purus placeratfinibus diam a, feugiat massa. Donec porta orci lectus, ut lacinia risus fringilla nulla facilisi suspendisse eget id justo ac magna finibus dignissim. Integer purus feugiat gravida convalis,</p>
                        <div style="height:15px;"></div>
                        <p><a class="btn btn-green-pro" href="{{path('entreprise_dashboard')}}" role="button">Commencer à regarder</a></p>
                    </div>
                    <div class="col-md my-auto"><!-- .my-auto vertically centers contents -->
                        <img src="{{asset('assets/front/images/slides/home-2.jpg')}}" class="img-fluid" alt="Make Your Own Playlist">
                    </div>
                </div><!-- close .row -->
                
                
                <div class="row">
                    <div class="col-md my-auto"><!-- .my-auto vertically centers contents -->
                        <img src="{{asset('assets/front/images/slides/home-3.png')}}" class="img-fluid" alt="Regarder en Ultra HD">
                    </div>
                    <div class="col-md my-auto"><!-- .my-auto vertically centers contents -->
                        <h2 class="short-border-bottom">Regarder en Ultra HD</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing nula pellentesquemagna a convallis nula facilisi. Praesent consequat eget elementumconsectetur. Nullam interdum, quam ac sagittis facilisis sapien dolor ipsum consequat ellit tristique senectus</p>
                        <div style="height:15px;"></div>
                        <p><a class="btn btn-green-pro" href="{{path('professionnel_dashboard')}}" role="button">Commencer votre essai gratuit</a></p>
                    </div>
                </div><!-- close .row -->
                
                <div style="height:35px;"></div>
                
                <div class="clearfix"></div>
            </div><!-- close .container -->
            
            
            <hr>
            
            <div class="progression-pricing-section-background">
                <div class="container">
                    
                    <div class="row">
                        <div class="mx-auto">
                            <div style="height:70px;"></div>
                            <h2 class="short-border-bottom">Nos Plans &amp; Tarifs</h2>
                        </div>
                    </div><!-- close .row -->
                    
                    <div style="height:25px;"></div>
                    
                    <div class="row">
                        <div class="col-md">
                            <ul class="checkmark-list-pro">
                                <li>1 mois d'accès illimité!</li>
                                <li>Thousands of TV shows, movies &amp; more.</li>
                            </ul>
                        </div>
                        <div class="col-md">
                            <ul class="checkmark-list-pro">
                                <li>Stream on your phone, laptop, tablet or TV.</li>
                                <li>You can even Download & watch offline.</li>
                            </ul>
                        </div>
                        <div class="col-md">
                            <ul class="checkmark-list-pro">
                                <li>1 month unlimited access!</li>
                                <li>Thousands of TV shows, movies &amp; more.</li>
                            </ul>
                        </div>
                    </div><!-- close .row -->
                    
                    
                    <div class="pricing-table-pro">
                        <div class="row">
                            <div class="col-md">
                                <div class="pricing-table-col">
                                    <h6>FREE TRIAL</h6>
                                    <h2>Free</h2>
                                    <ul>
                                        <li>720p Available</li>
                                        <li>Watch on any Device</li>
                                        <li>20 Movies and Shows</li>
                                        <li>Download Available</li>
                                    </ul>
                                    <p><a class="btn" href="{{path('info_paiement')}}" role="button">Choose Plan</a></p>
                                </div><!-- close .pricing-table-col -->
                            </div><!-- close .col-md-12 -->
                            <div class="col-md">
                                <div class="pricing-table-col pricing-table-col-shadow-pro">
                                    <h6>STARTER</h6>
                                    <h2><sup>$</sup>10<span> / month</span></h2>
                                    <ul>
                                        <li>HD Available</li>
                                        <li>Watch on any Device</li>
                                        <li>70 Movies and Shows</li>
                                        <li>Download Available</li>
                                    </ul>
                                    <p><a class="btn btn-green-pro" href="{{path('info_paiement')}}" role="button">Choose Plan</a></p>
                                </div><!-- close .pricing-table-col -->
                            </div><!-- close .col-md-12 -->
                            <div class="col-md">
                                <div class="pricing-table-col">
                                    <h6>PREMIUM</h6>
                                    <h2><sup>$</sup>14<span> / month</span></h2>
                                    <ul>
                                        <li>Ultra HD Available</li>
                                        <li>Watch on any Device</li>
                                        <li>Unlimited Movies and Shows</li>
                                        <li>Download Available</li>
                                    </ul>
                                    <p><a class="btn" href="{{path('info_paiement')}}" role="button">Choose Plan</a></p>
                                </div><!-- close .pricing-table-col -->
                            </div><!-- close .col-md-12 -->
                        </div><!-- close .row -->
                    </div><!-- close .pricing-table-pro -->
                        
                    
                    <div class="clearfix"></div>
                </div><!-- close .container -->
            
            </div><!-- close .progression-pricing-section-background -->
            
        </div><!-- close #content-pro -->
    {% endblock %}

    {% block footer %}
        <footer id="footer-pro">
            <div class="container">
                <div class="row">
                    <div class="col-md">
                        <div class="copyright-text-pro">&copy; Copyright 2019 <a href="https://www.innovdigital.sn" target="_blank">Innov Digital</a>. Tous Droits Résérvés.</div>
                    </div><!-- close .col -->
                    <div class="col-md">
                        <ul class="social-icons-pro">
                            <li class="facebook-color"><a href="https://www.facebook.com/SUNUCVIDEO/?epa=SEARCH_BOX" target="_blank"><em class="fab fa-facebook-f"></em></a></li>
                            <li class="twitter-color"><a href="https://twitter.com/sunucvideo" target="_blank"><em class="fab fa-twitter"></em></a></li>
                            <li class="youtube-color"><a href="https://www.youtube.com/channel/UCWQMyzyiUF1th5X6BX-kZHw" target="_blank"><em class="fab fa-youtube"></em></a></li>
                            <!--<li class="vimeo-color"><a href="http://vimeo.com" target="_blank"><em class="fab fa-vimeo-v"></em></a></li>-->
                        </ul>
                    </div><!-- close .col -->
                </div><!-- close .row -->
            </div><!-- close .container -->
        </footer>
    {% endblock %}

    <div class="modal fade" id="modal-get-ticket" tabindex="-1" role="dialog" aria-labelledby="modal-get-ticketTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span> Fermer
                </button>
                <a href="https://www.eventbrite.fr/e/billets-pitch-my-skills-finale-concours-sunu-cv-video-62073469418" target="_blank" class="btn btn-green-pro noselect">
                    <img src="{{asset('assets/front/images/invitation.jpeg')}}" style="width: 100%" alt="Obtenez un ticket" />
                    <a href="https://www.eventbrite.fr/e/billets-pitch-my-skills-finale-concours-sunu-cv-video-62073469418" target="_blank" class="btn btn-green-pro noselect" style="color: #fff;border-color: #3A54A5;background: #3A54A5;">Obtenez un ticket</a>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{asset('assets/front/pages/default/accueil/script.js')}}" defer></script>
{% endblock %}
