{% extends 'pages/front/base.html.twig' %}

{% block title %}Bienvenue sur Cvideos{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{asset('assets/front/pages/default/accueil/style.css')}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    {% block header %}
        <header id="masthead-pro">
            <div class="container">
                
                <h1><a href="{{path('app_home')}}"><img src="{{asset('assets/front/images/logo.png')}}" alt="Logo"></a></h1>
                
                <nav id="site-navigation-pro">
                    <ul class="sf-menu">
                        <li class="normal-item-pro">
                            <a href="{{path('app_home')}}">Accueil</a>
                        </li>
                        <li class="normal-item-pro">
                            <a href="javascript:void(0);">A propos</a>
                        </li>
                        <li class="normal-item-pro">
                            <a href="{{ path('index_faqs') }}">FAQs</a>
                        </li>
                        <li class="normal-item-pro">
                            <a href="javascript:void(0);">Contactez nous</a>
                        </li>
                    </ul>
                </nav>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('app_logout') }}" class="btn btn-header-pro btn-danger noselect">Se deconnecter</a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="btn btn-header-pro btn-default btn-custom waves-effect">Se connecter</a>
                    <a href="{{ path('choisir_profil') }}" class="btn btn-header-pro btn-green-pro noselect mr-md-1 mr-lg-1">Devenez membre !</a>
                {% endif %}
                <div id="mobile-bars-icon-pro" class="noselect"><em class="fas fa-bars"></em></div>
                
                <div class="clearfix"></div>
            </div><!-- close .container -->
            
            <nav id="mobile-navigation-pro">
            
                <ul id="mobile-menu-pro">
                    <li>
                        <a href="{{path('app_home')}}">Accueil</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">A propos</a>
                    </li>
                    <li>
                        <a href="{{ path('index_faqs') }}">FAQs</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Contactez nous</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
                
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('app_logout') }}" class="btn btn-mobile-pro btn-danger noselect">Se deconnecter</a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="btn btn-mobile-pro noselect btn-default btn-custom waves-effect">Se connecter</a>
                    <a href="{{ path('choisir_profil') }}" class="btn btn-mobile-pro btn-green-pro noselect">Devenez membre !</a>
                {% endif %}
            
            </nav>
        </header>
    {% endblock %}

    {% block main %}
        <div class="flexslider progression-studios-slider">
            <ul class="slides">
                <li class="progression_studios_animate_in">
                    <div class="progression-studios-slider-image-background" style="background-image:url({{asset('assets/front/images/slides/slide-3.jpg')}});">
                        <div class="progression-studios-slider-display-table">
                            <div class="progression-studios-slider-vertical-align">
                                
                                <div class="container">
                                    
                                    <div class="progression-studios-slider-caption-width">
                                        <div class="progression-studios-slider-caption-align">
                                            <h2>Bienvenue sur SUNU CVIDEO<span style="color:#3A54A5;">.</span></h2>
                                            <h6>La première plateforme web de recrutement de CV thèque en vidéo au Sénégal!</h6>
                                            <a class="btn btn-green-pro btn-slider-pro btn-shadow-pro" href="{{path('entreprise_dashboard')}}" role="button">Commencer</a>
                                        </div><!-- close .progression-studios-slider-caption-align -->
                                    </div><!-- close .progression-studios-slider-caption-width -->
                                    
                                </div><!-- close .container -->
                                
                            </div><!-- close .progression-studios-slider-vertical-align -->
                        </div><!-- close .progression-studios-slider-display-table -->
                        
                        <div class="progression-studios-slider-mobile-background-cover"></div>
                    </div><!-- close .progression-studios-slider-image-background -->
                </li>
                <li class="progression_studios_animate_right">
                    <div class="progression-studios-slider-image-background" style="background-image:url({{asset('assets/front/images/slides/slide-2.jpg')}}); background-color:#111015;">
                        <div class="progression-studios-slider-display-table">
                            <div class="progression-studios-slider-vertical-align">
                                
                                <div class="container">
                                    
                                    <div class="progression-studios-slider-caption-width">
                                        <div class="progression-studios-slider-caption-align">
                                            <h2 class="light-fonts-pro">Révélateur de talent</h2>
                                            <h6 class="light-fonts-pro">Savoir parler de ses comptétences pour se révéler auprès des recruteurs.</h6>
                                            <a class="btn btn-green-pro btn-slider-pro" href="{{path('professionnel_dashboard')}}" role="button">Commencer</a>
                                        </div><!-- close .progression-studios-slider-caption-align -->
                                    </div><!-- close .progression-studios-slider-caption-width -->
                                    
                                </div><!-- close .container -->
                                
                            </div><!-- close .progression-studios-slider-vertical-align -->
                        </div><!-- close .progression-studios-slider-display-table -->
                        
                    </div><!-- close .progression-studios-slider-image-background -->
                </li>
                <li class="progression_studios_animate_left">
                    <div class="progression-studios-slider-image-background" style="background-image:url({{asset('assets/front/images/slides/cvideos.png')}});">
                        <div class="progression-studios-slider-display-table">
                            <div class="progression-studios-slider-vertical-align">
                                
                                <div class="container">
                                    
                                    <div class="progression-studios-slider-caption-width">
                                        <div class="progression-studios-slider-caption-align">
                                            <h2>Porteur de projet</h2>
                                            <h6 style="color: #ffffff;">Présenter votre concept et trouver des partenaires.</h6>
                                            <a class="btn btn-green-pro btn-slider-pro btn-shadow-pro" href="{{path('entreprise_dashboard')}}" role="button">Commencer</a>
                                        </div><!-- close .progression-studios-slider-caption-align -->
                                    </div><!-- close .progression-studios-slider-caption-width -->
                                    
                                </div><!-- close .container -->
                                
                            </div><!-- close .progression-studios-slider-vertical-align -->
                        </div><!-- close .progression-studios-slider-display-table -->
                        
                        <div class="progression-studios-slider-mobile-background-cover"></div>
                    </div><!-- close .progression-studios-slider-image-background -->
                </li>
            </ul>
        </div><!-- close .progression-studios-slider - See /js/script.js file for options -->
        
        <div id="content-pro">
            
            <div class="container">
                

                <div class="row">
                    <div class="col-md my-auto"><!-- .my-auto vertically centers contents -->
                        <img src="{{asset('assets/front/images/slides/home-1.jpg')}}" class="img-fluid" alt="Watch in Any Devices">
                    </div>
                    <div class="col-md my-auto"><!-- .my-auto vertically centers contents -->
                        <h2 class="short-border-bottom">LE CV VIDEO</h2>
                        <p class="paragraphe">
                           Le CV vidéo offre aux talents une excellente opportunité d’exposer aux recruteurs ce qu’ils peuvent concrètement apporter à l’entreprise.
                           Le principe est simple : il s’agit de présenter votre parcours en réalisant une vidéo ne dépassant pas 1mn30 afin de valoriser vos expériences professionnelles et vos compétences clés.
                           C’est un moyen original et dynamique de se démarquer des autres candidats et d’augmenter vos chances de trouver un emploi, un stage et d’autres opportunités professionnelles ! 
                           Avec SUNU CV VIDEO, devenez acteur de vos talents !
                        </p>
                        <div style="height:15px;"></div>
                        <p><a class="btn btn-green-pro" href="{{path('professionnel_dashboard')}}" role="button">En savoir plus</a></p>
                    </div>
                </div><!-- close .row -->
                
                
                <div class="row">
                    <div class="col-md my-auto"><!-- .my-auto vertically centers contents -->
                        <h2 class="short-border-bottom">FAITES VOTRE PLAYLIST</h2>
                        <p class="paragraphe">
                            Le CV vidéo permet d’avoir une vision plus complète du candidat : en plus de l’énoncé de ses compétences, sa personnalité transparaît dans sa façon de s’exprimer et dans son langage corporel. 
                            Le recruteur dispose donc de plus d’informations relatives aux compétences et aux aptitudes requises pour trouver le candidat idéal. 
                        </p>
                        <div style="height:15px;"></div>
                        <p><a class="btn btn-green-pro" href="{{path('choisir_profil')}}" role="button">Accéder à la vidéothèque</a></p>
                    </div>
                    <div class="col-md my-auto"><!-- .my-auto vertically centers contents -->
                        <img src="{{asset('assets/front/images/slides/home-2.jpg')}}" class="img-fluid" alt="Make Your Own Playlist">
                    </div>
                </div><!-- close .row -->
                
                
                <div class="row">
                    <div class="col-md my-auto"><!-- .my-auto vertically centers contents -->
                        <img src="{{asset('assets/front/images/slides/home-3.png')}}" class="img-fluid" alt="Regarder en Ultra HD">
                    </div>
                    <div class="col-md my-auto"><!-- .my-auto vertically centers contents -->
                        <h2 class="short-border-bottom">DEMARQUEZ – VOUS</h2>
                        <p class="paragraphe">
                            Avec le CV vidéo, vous vous distinguez des autres en montrant votre motivation et votre imagination.
                            Le relationnel, la créativité, valoriser ses compétences, avoir une attitude positive, tous ces éléments sont nécessaires lors de l’entretien final et travaillés en amont via la vidéo. 
                        </p>
                        <div style="height:15px;"></div>
                        <p><a class="btn btn-green-pro" href="{{path('choisir_profil')}}" role="button">Commencer votre essai gratuit</a></p>
                    </div>
                </div><!-- close .row -->
                
                <div style="height:35px;"></div>
                
                <div class="clearfix"></div>
            </div><!-- close .container -->
            
            
            <hr>
            
            <div class="progression-pricing-section-background">
                <div class="container">
                    
                    <div class="row">
                        <div class="mx-auto">
                            <div style="height:70px;"></div>
                            <h2 class="short-border-bottom text-center">Nos Plans &amp; Tarifs</h2>
                            <p style="font-size: 1.2rem;">
                                Pour vous épauler dans cette période de crise, nous vous offrons l’accès gratuit à nos services
                            </p>
                        </div>
                    </div><!-- close .row -->
                    
                    <div style="height:25px;"></div>
                    
                    <div class="pricing-table-pro">
                        <div class="row">
                            {% for plan in plans %}
                                <div class="col-md">
                                    <div class="pricing-table-col pricing-table-col-shadow-pro">
                                        <h6>{{ plan.libelle |raw |e |upper }}</h6>
                                        <h2>
                                            {% if plan.prix > 0 %}
                                                {{ plan.prix |raw |e }}<sup>FCFA</sup><span> / {{ plan.duree |raw |e |capitalize }}</span>
                                            {% else %}
                                                FREE
                                            {% endif %}
                                        </h2>
                                        <ul>
                                            {% for offre in plan.offres %}
                                                <li>{{ offre |raw |e }}</li>
                                            {% endfor %}
                                        </ul>
                                        <p><a class="btn {{ plan.parDefaut ? 'btn-green-pro' : '' }}" href="{{ path('choisir_profil') }}" role="button">Choisir ce Plan</a></p>
                                    </div><!-- close .pricing-table-col -->
                                </div><!-- close .col-md-12 -->
                            {% endfor %}
                        </div><!-- close .row -->
                    </div><!-- close .pricing-table-pro -->
                        
                    
                    <div class="clearfix"></div>
                </div><!-- close .container -->
            
            </div><!-- close .progression-pricing-section-background -->
            
        </div><!-- close #content-pro -->
    {% endblock %}

    {% block footer %}
        <footer id="footer-pro">
            <div class="container">
                <div class="row">
                    <div class="col-md">
                        <div class="copyright-text-pro">&copy; Copyright 2019 <a href="https://www.innovdigital.sn" target="_blank">Innov Digital</a>. Tous Droits Résérvés.</div>
                    </div><!-- close .col -->
                    <div class="col-md">
                        <ul class="social-icons-pro">
                            <li class="facebook-color"><a href="https://www.facebook.com/SUNUCVIDEO/?epa=SEARCH_BOX" target="_blank"><em class="fab fa-facebook-f"></em></a></li>
                            <li class="twitter-color"><a href="https://twitter.com/sunucvideo" target="_blank"><em class="fab fa-twitter"></em></a></li>
                            <li class="youtube-color"><a href="https://www.youtube.com/channel/UCWQMyzyiUF1th5X6BX-kZHw" target="_blank"><em class="fab fa-youtube"></em></a></li>
                            <!--<li class="vimeo-color"><a href="http://vimeo.com" target="_blank"><em class="fab fa-vimeo-v"></em></a></li>-->
                        </ul>
                    </div><!-- close .col -->
                </div><!-- close .row -->
            </div><!-- close .container -->
        </footer>
    {% endblock %}

    <div class="modal fade" id="modal-get-ticket" tabindex="-1" role="dialog" aria-labelledby="modal-get-ticketTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span> Fermer
                </button>
                <a href="https://www.eventbrite.fr/e/billets-pitch-my-skills-finale-concours-sunu-cv-video-62073469418" target="_blank" class="btn btn-green-pro noselect">
                    <img src="{{asset('assets/front/images/invitation.jpeg')}}" style="width: 100%" alt="Obtenez un ticket" />
                    <a href="https://www.eventbrite.fr/e/billets-pitch-my-skills-finale-concours-sunu-cv-video-62073469418" target="_blank" class="btn btn-green-pro noselect" style="color: #fff;border-color: #3A54A5;background: #3A54A5;">Obtenez un ticket</a>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{asset('assets/front/pages/default/accueil/script.js')}}" defer></script>
{% endblock %}
